[user]
	name = Sardorbek Imomaliev
	useConfigOnly = true
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta
	old = bold red
	new = bold green
[pull]
	rebase = false
[push]
	# Defines the action git push should take if no refspec is explicitly given. 'simple': push if the upstream branch's name is same as the local one
	default = simple
[fetch]
	prune = true
[alias]
	rollback = reset --soft HEAD^
	graph = log --graph --decorate
	rpull = pull --rebase
	sup = submodule update
	up = checkout
	upc = "!f() { if [[ $OSTYPE == "linux-gnu" ]]; then git checkout $(clipit -p); else git checkout $(pbpaste); fi;}; f"
	st = status
	ci = commit
	cim = commit -a -m
	di = diff -r HEAD
	ri = rebase -i
	fixup = "!git ci -a --fixup=HEAD && EDITOR=true git ri --autosquash HEAD^^"
	sh = stash
	unsh = stash pop
	br = checkout -b
	brreset = "!git fetch && git checkout -B \"$(git rev-parse --abbrev-ref @)\" \"$(git rev-parse --abbrev-ref @{u})\""
	brmv = branch -m
	branches = branch --list
	brs = branch --list
	brprune = "!f() { git branch --merged | grep -v -e 'master\\|develop\\|\\*' | xargs -n 1 git branch -d; }; f"
	puo = "!git push -u origin \"$(git rev-parse --abbrev-ref @)\""
	puf = push -f
	id = show-ref --head --hash -- HEAD
	cl = "!f() { if [[ $# -eq 0 ]]; then git checkout -- . ; else git checkout -- $@; fi;}; f"
	tags = tag --list
	tp = "!f() { git tag -a $1 && git push origin $1;}; f"
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff2
[mergetool "vimdiff2"]
	path = "nvim"
[diff]
	submodule = log
