[user]
	name = Sardorbek Imomaliev
	useConfigOnly = true
[color]
	ui = true
[pull]
	rebase = false
[push]
	# Defines the action git push should take if no refspec is explicitly given. 'simple': push if the upstream branch's name is same as the local one
	default = simple
[fetch]
	prune = true
[alias]
	rollback = reset --soft HEAD^
	graph = log --graph
	rpull = pull --rebase
	sup = submodule update
	up = checkout
	st = status
	ci = commit -a
	di = diff -r HEAD
	ri = rebase -i
	fi = rebase -i HEAD^^
	cifi = "!git commit -am 'fixup' && git rebase -i HEAD^^"
	sh = stash
	unsh = stash pop
	br = checkout -b
	brreset = "!git checkout -B \"$(git rev-parse --abbrev-ref @)\" \"$(git rev-parse --abbrev-ref @{u})\""
	brmv = branch -m
	branches = branch --list
	brs = branch --list
	puo = "!git push -u origin \"$(git rev-parse --abbrev-ref @)\""
	puf = push -f
	id = show-ref HEAD --hash
	cl = checkout .
	tags = tag --list
[core]
	excludesfile = ~/.gitignore_global
	editor = "nvim"
[merge]
	tool = vimdiff2
[mergetool "vimdiff2"]
	path = "nvim"
[diff]
	submodule = log
