[user]
	name = Sardorbek Imomaliev
	useConfigOnly = true
[color]
	ui = true
[pull]
	rebase = false
[push]
	# Defines the action git push should take if no refspec is explicitly given. 'simple': push if the upstream branch's name is same as the local one
	default = simple
[fetch]
	prune = true
[alias]
	rollback = reset --soft HEAD^
	graph = log --graph
	rpull = pull --rebase
	sup = submodule update
	up = checkout
	st = status
	ci = commit -a
	di = diff -r HEAD
	ri = rebase -i
	sh = stash
	unsh = stash pop
	br = checkout -b
	mvbr = branch -m
	puo = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	puf = push -f
	id = show-ref HEAD --hash
	cl = checkout .
	# git flow
	ffs = flow feature start
	fff = flow feature finish
	ffp = flow feature publish
[core]
	excludesfile = ~/.gitignore_global
	editor = "nvim"
[merge]
	tool = vimdiff2
[mergetool "vimdiff2"]
	path = "nvim"
[diff]
	submodule = log
