# show mode and default mode vi
set show-mode-in-prompt on
set editing-mode vi

# show all possible compleations
set show-all-if-ambiguous on

# case insensitive completion
set completion-ignore-case on

# causes Readline to display an asterisk (`*') at the start of history lines which have been modified.
set mark-modified-lines on

# completed names which are symbolic links to directories have a slash appended
set mark-symlinked-directories on

# causes Readline to match files whose names begin with a `.' (hidden files) when performing filename completion. If set to `off', the leading `.' must be supplied by the user in the filename to be completed.
set match-hidden-files off

# menu completion displays the common prefix of the list of possible completions (which may be empty) before cycling through the list.
## set menu-complete-display-prefix on

# Readline will undo all changes to history lines before returning when accept-line is executed. By default, history lines may be modified and retain individual undo lists across calls to readline.
set revert-all-at-newline on

set blink-matching-paren on

# colored compleation and additional info
##set visible-stats on
set colored-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on
